name: CI to Docker Hub

on: [push]

jobs:

  java-build-test:
    
    runs-on: ubuntu-latest

    steps:

        - name: Checkout Code 
          uses: actions/checkout@v3
          
        - name: Set up JDK 11 for x64
          uses: actions/setup-java@v3
          with:
            java-version: '11'
            distribution: 'adopt'
            architecture: x64
          
        - name: Build with Maven
          run: mvn --batch-mode --update-snapshots compile
          
        - name: Test with Maven
          run: mvn --batch-mode --update-snapshots test

  docker-build-push:
    
    runs-on: ubuntu-latest
    needs: java-build-test
    
    steps:

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-
            
      - name: Check Out Repo 
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push the image
        id: docker_build
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/${{ github.event.repository.name }}:latest
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
        
